@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="clear-fix">
    <article>
        <h3>Team Members</h3>
        <ul>
            <li>Tom Moseley :)</li>
            <li>Shawn Williams</li>
            <li>Kassy Coan</li>
            <li>Adam Gorman :P</li>
        </ul>

        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>
    </article>
</div>

