@{
    ViewBag.Title = "Badges";
}

<h2>Achievements</h2>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="clear-fix">
    <article>
        <h3>Badges List</h3>
        <ul>
            <li>Opened Badges List Achievement!!  #10</li>
        </ul>

        <p>
            More stuff! This is a test 1.0
        </p> 
    </article>
</div>
