@{
    ViewBag.Title = "Documents";
}

<h2>Documents</h2>
<a href="~/Documents/Ludus SRS.docx">Ludus System Requirements Specification</a>
<a href="~/Documents/Ludus SDD.docx">Ludus Software Design Document</a>
