@model Ludus.Models.Calendar
@{
    ViewBag.Title = "Home Page";
}
<div class="btn-group">
  <button class="btn">Month View</button>
  <button class="btn">List View</button>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            @* include the Calendar view (for now) *@
            @Html.Partial("../Home/_CalendarPartial")
        </div>
    </div>
</div>
@* include the List view (for now) *@
@Html.Partial("../Home/_ListPartial" )
