@model Ludus.Models.Calendar
@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
using (Html.BeginForm()) {
    if (Session["IndexView"] == "Month")
    {
    <input type="submit" class="btn btn-success" value="Switch to List View" />@*
@*<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">*@
            @* include the Calendar view (for now) *@
            @Html.Partial("../Home/_CalendarPartial")
@*        </div>
    </div>
</div>*@
    }
    if (Session["IndexView"] == "List")
    {
    <input type="submit" class="btn btn-success" value="Switch to Month View" />
@* include the List view (for now) *@
@Html.Partial("../Home/_ListPartial")
    }
    }
}