@if (Request.IsAuthenticated) {
    <li >
        @Html.ActionLink(@"Hello " + User.Identity.Name + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
    </li>
    <li class="navbar-text" style="float:left">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a style="float:left" href="javascript:document.getElementById('logoutForm').submit()">(Log off)</a>
        }
        </li>
} else {
   <ul class="nav pull-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", })</li>
   </ul>
}
