<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Models.Properties.Settings.Ludus_dbConnectionString"
            connectionString="Data Source=bjvosfs992.database.windows.net;Initial Catalog=Ludus-db;Integrated Security=False;User ID=ludususer;Password=Impossible1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>